{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["dist/*", "node_modules/*"],
  
  "settings": {
    "target": "ES6",
    "srcets": ["./src/**/*"]
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ]
}
